body {
    background-image: url(../images/office2.jpg);
    backdrop-filter: grayscale(1);
    opacity: 0.95;
    overflow-x: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100vw;
}

main {
    width: 80%;
    margin: 0 5rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.enabled {
    margin-right: 1rem;
}

.titulo {
    display: flex;
    justify-content: space-between;
    background-color: #f7f7f7;
    border-radius: 5px;
    padding: 2rem;
}

.titulo h1 {
    color: #d31c38;
}

.titulo span {
    display: flex;
    grid-gap: 2rem;
}

.titulo .dash-icon {
    width: 60px;
}

.titulo .owlbility {
    width: 200px;
}

.grafico {
    width: 100%;
    display: grid;
    grid-gap: 2rem;
    margin: 2rem 0rem;
    grid-template-columns: 1fr 1fr;
}

.grafico #myChart {
    width: 80% !important;
    height: 80% !important;
}

.grafico #pie {
    width: 80% !important;
    height: 80% !important;
}

.box {
    background-color: #f7f7f7;
    border-radius: 5px;
    box-shadow: 5px 10px 14px -7px #000;
    padding: 2rem;
}


/* HISTORICO FALE CONOSCO */

.box-comments {
    margin: 2rem 0;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.box-comments p {
    margin: 0;
}

.box-comments .img-perfil {
    margin: 0 1rem;
}

.box-comments .img-perfil img {
    width: 60px;
    border-radius: 50%;
}

.box-comments {
    padding-bottom: 1rem;
    border-bottom: 1px solid #b8b8b8;
}

@media (max-width: 992px) {
    body {
        width: 93%;
        height: 260vh;
        backdrop-filter: grayscale(0);
        overflow-x: none;
    }
    main {
        width: 100%;
        margin: 0 1rem !important;
        padding-top: 1rem;
    }
    .enabled {
        margin-right: -2rem;
    }
    .grafico h2 {
        font-size: 1.6rem;
    }
    .titulo {
        align-items: center;
    }
    .titulo h1 {
        font-size: 2rem;
    }
    .titulo .logoImage {
        width: 60px;
    }
    .titulo .dash-icon {
        display: none;
    }
    .grafico {
        width: 100%;
        margin: 1rem 0;
        grid-template-columns: 1fr;
    }
    .grafico #myChart {
        width: 100% !important;
        height: 100% !important;
    }
    .grafico #pie {
        width: 100% !important;
        height: 100% !important;
    }
    /* HISTORICO FALE CONOSCO */
    .box-comments {
        margin: 2rem 0;
    }
    .box-comments .img-perfil {
        margin: 0 1rem;
    }
    .box-comments .img-perfil img {
        width: 60px;
    }
}

.scale-up-center {
    -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}