body {
    background: var(--main-red);
    overflow: hidden;
    width: 80%;
    margin: auto;
    text-align: center;
}

h1 {
    font-size: 60px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5% 5% 0 0;
    animation-duration: 1.5s;
    transition-timing-function: ease-in;
    animation-name: fadeIn;
}

img {
    width: 50%;
    opacity: 1;
    animation-duration: 1.5s;
    transition-timing-function: ease-in;
    animation-name: fadeIn;
}

@media (max-width: 960px) {
    h1 {
        font-size: 40px;
        margin: 10% 10% 0 0;
    }
    img {
        width: 100%;
    }
}